<launch>
    <arg name="param_fp" default="$(find green_onion_perception)/params" />
    <arg name="weights_fp" default="$(find green_onion_perception)/weights" />
    <arg name="visual" default="true" />

    <include file="$(find zed_wrapper)/launch/zed2i.launch"/>

    <node name="camera" pkg="green_onion_perception" type="camera.py" output="screen">
        <param name="~param_fp" value="$(arg param_fp)"/>
        <param name="~weights_fp" value="$(arg weights_fp)"/>
        <param name="~visual" value="$(arg visual)"/>
    </node>

</launch>